@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Fredoka", sans-serif;
}

@layer base {
  body {
    @apply bg-[#FFF9F2] text-slate-800;
  }
}

@layer base {
  body {
    @apply transition-colors duration-500;
  }
}

@layer utilities {
  .theme-transition {
    @apply transition-all duration-500 ease-in-out;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#f9bcd3] rounded-full;
  }
}
